* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #e5e7eb;
}

/* TOPBAR */
.topbar {
    height: 60px;
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.search {
    flex: 1;
}

.search input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.admin {
    white-space: nowrap;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: linear-gradient(to bottom, #0f172a, #111827);
    min-height: calc(100vh - 60px);
    padding: 30px 20px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 14px;
}

.sidebar a:hover {
    opacity: 0.7;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 30px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    background: #f3f4f6;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.card h4 {
    font-weight: normal;
    margin-bottom: 8px;
}

.highlight {
    background: #2f62d6;
    color: white;
}

/* FOOTER */
.footer {
    background: black;      /* black background */
    color: white;           /* white text */
    
    height: 60px;
    
    display: flex;
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
    
    font-size: 14px;
}
